<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forget_pwd</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forget_pwd.css"/>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <input type="button" id="login" value="log in" onclick="SignIn();"/>
    <input type="button" id="signup" value="Sign up" onclick="SignUp();"/>
</head>
<body>
<div id="forget_frame">
    <label class="label_input" for="email">Your email:</label>
    <input type="email" id="email" placeholder="Enter email">
    <br>
    <input type="button" id="conform" value="conform" />
    <p>We will send the link to your email for setting up your new password.</p>
</div>
</body>
</html>